.register {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.register > img {
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register > form {
    display: flex;
    flex-direction: column;
}

.register > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.register > form > button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: #fff;
    font-weight: 600;
    background-color: #2bbef2;
    border-radius: 5px;
}

.register__register {
    color: #2bbef2;
    cursor: pointer;
}

.register > p {
    margin-top: 20px;
}