@import './../../../../sass/main.scss';

.profile {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: green;

    background-image: url('./../../../../img/tribackground.jpg');
}

.profile__body {
    display: flex;
    flex: 0.6;
    max-width: 1200px;
    flex-direction: column;
}

.profile__main {
    background-color: $text-color-light;
    box-shadow: $box-shadow;

    margin-bottom: 20px;
}