@import './../../../../sass/main.scss';

.profileheader {
    background-color: $text-color-light;
    box-shadow: $box-shadow;

    margin-top: 20px;
    margin-bottom: 20px;
}

.profileheader__cover {
    display: flex;
}

.profileheader__cover > img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}


.profileheader__body {
    display: flex;
    height: auto;
}

.profileheader__bodyLeft {
    display: flex;
    flex: 0.2;
}

.profileheader__avatar {
    height: 130px !important;
    width: 130px !important;
    margin-top: -65px;
	margin-right: auto;
    margin-left: auto;
    border-radius: 90px;
    border: 5px solid $text-color-light;
    box-shadow: $box-shadow;
}







.profileheader__bodyMiddle {
    display: flex;
    flex: 0.6;
    flex-direction: column;
    padding-top: 6px;
}
.profileheader__bodyUsername {
    font-size: 22px;
    font-weight: 700;
}
.profileheader__bodyTitle {
    display: flex;
    font-size: 14px;
}
.profileheader__bodyPosition {
    font-weight: 600;
}
.profileheader__bodyTeam {
    font-weight: 600;
    color: red;
}
.profileheader__bodyBio {
    margin-top: 10px;
    font-size: 14px;
}
.profileheader__bodyStats {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.profileheader__bodyStatsCol {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.profileheader__bodyStatsColTitle {
    font-size: 14px;
    font-weight: 600;
}
.profileheader__bodyStatsColNumber {
    font-size: 14px;
}






.profileheader__bodyRight {
    flex: 0.2;
    position: relative;
}

.profileheader__bodyRight__buttonfield {
    display: flex;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 0;

    button {
        background-color: $text-color-light;
        color: black;
        font-weight: 600;
        font-size: 12px;
        margin: 4px;
        border: none;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
    }

    button:focus {outline: none;}
    button:active {box-shadow: none;}
    
    .recruitButton {
        background-color: $gold;
        display: none;
    }
}

.buttonIcon {
    height: 18px !important; 
    margin-right: 2px;
}

.moreverticon {
    margin-right: 6px;
    color: black;
    height: 32px;
    cursor: pointer;
}