.landing {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.landing__leftright-container {
  position: relative;
  z-index: 1;
}

.landing__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing__right {
  background-color: #1E2023;
  height: 100%;
  width: 40%;
  float: right;
  color: #f8f8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.landing__logo {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto auto;
  margin: 140px auto 0 auto;
  -webkit-filter: drop-shadow(2px 4px 8px #696969);
          filter: drop-shadow(2px 4px 8px #696969);
}

.landing__company {
  margin: auto auto;
  margin: 10px auto 40px auto;
  font-weight: 800;
  font-size: 28px;
}

.landing__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.signinButton {
  margin-right: 10px;
  font-weight: 600;
  font-size: 26px;
}

.registerButton {
  margin-left: 10px;
  margin-top: 5px;
  color: #2bbef2;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.landing__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #797979;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}

.landing__footer div {
  margin: 0 5px 0 5px;
}

.landing__left {
  float: left;
  width: 60%;
  height: 100%;
  overflow: auto;
  background-image: url("./../../../../img/tribackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.landing__left-box {
  padding-left: 120px;
  padding-right: 120px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.landing__box-content {
  height: auto;
  width: 100%;
}

.landing__box-content h1 {
  font-size: 56px;
  font-weight: 700;
  color: #2bbef2;
}

.landing__content-pitches {
  margin-top: 80px;
}

.landing__content-pitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 600;
}

.content-pitch-icon {
  height: 78px !important;
  width: 78px !important;
  margin-right: 30px;
}

.split-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.landing__box-split-pitch {
  background-color: lightblue;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.landing__box-split-pitch h2 {
  font-size: 38px;
  margin-bottom: 20px;
}

.landing__box-split-pitch p {
  font-size: 28px;
  font-weight: 600;
}

.landing__box-split-graphic {
  background-color: lightcoral;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #929292;
}
/*# sourceMappingURL=Landing.css.map */